@import "./alert.scss";

.fa-spinner{
  margin-right: 10px;
  animation: spinner 3s infinite;
}

@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

button{
  font-size: 22px;
  color: white;
  border-radius: 15px;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-bottom: 3px solid rgb(199, 199, 199);
  cursor: pointer;
  outline: none;
  box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow .2s ease-in-out;

  &:hover{
    box-shadow : none;
    position: relative;
    top: 2px;
  }
}
