@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
@import "./framework.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Kanit', sans-serif;
    user-select: none;
}
